<h2>Admin area</h2>

Warning: This area contains potential dangerous, low
level operations. Use only for debugging, repairing or
hacking mbs.

<ul>
   <li><%= link_to 'Machine Types', machine_types_path %>
   <li><%= link_to 'Machines', machines_path %>
</uL>
