<p><%= link_to 'User overview', users_path %>
<br><%= link_to 'Machine overview', machines_path %>
<br><%= link_to 'Machine type overview', machine_types_path %>
<br><%= link_to 'Reservation overview', reservations_path %>
</p>
