<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine_status.name %>
</p>


<%= link_to 'Edit', edit_machine_status_path(@machine_status) %> |
<%= link_to 'Back', machine_statuses_path %>
