<h1>Welcome to the reservation system</h1>

<table>
<% @machines.each do |machine| %>
  <tr class="entry">
    <td><%= machine.title %></td>
    <td><%= machine.description %></td>
  </tr>
<% end %>
</table>
