<h2>Machines currently used</h2>

<div class="recordset">
<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Used by</th>
  </tr>
</thead>
<tbody>

<% @machines.each do |machine| %>
   <% if machine.used_by %>
     <tr>
       <td><%= machine.name %></td>
       <td><%= link_to machine.machine_type.name, machine_type_path(machine.machine_type_id) %></td>
       <td><%= machine.used_by %></td>
     </tr>
   <% end %>
<% end %>
</tbody>
</table>
</div>
